body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: gray;
}
